# HW 1
## Michael Hijduk (aqt7bt)

In [2]:
import pandas as pd
import numpy as np

In [3]:
ds1 = pd.read_csv("HW1_dataset_1.csv")
ds1.head()

   X
0  4
1  6
2  5
3  2
4  5

In [5]:
ds2 = pd.read_csv("HW1_dataset_2.csv")
ds2.head()

    X
0  60
1  63
2  61
3  59
4  62

In [4]:
ds3 = pd.read_csv("HW1_dataset_3.csv")
ds3.head()

          X         Y
0  1.346937  1.236486
1  0.035394  0.318112
2  1.037402  2.180105
3 -0.181728 -1.123108
4 -0.849702  0.101647